<div class="form-floating mb-3">
    <input id="name" class="form-control" type="text" onkeyup="enterkey();" placeholder="id">
    <label>&nbsp;&nbsp;id</label>
</div>

<div class="form-floating mb-3">
    <input id="address" class="form-control" placeholder="password" type="password" onkeyup="enterkey();">
    <label>&nbsp;&nbsp;password</label><input type="button" id="showPassword" value="Show" class="button" />
</div>


.search {
    width: 50%;
    height: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-box {
    width: 60%;
    width: fit-content;
    height: 36px;
    margin: 0 auto;
}

.search-box input {
    width: 60%;
    height: 30px;
}

.search-box button {
    width: 20%;
    height: 30px;
}